#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

#insta-div {
    height: 50vh;
    width: 100vw;
    background: green;
}

#insta-inner {
    padding: 0rem 15rem;

}

body {
    font-family: Noto Sans, Noto Sans CJK JP, Noto Sans CJK JP Subset,
        sans-serif;
}

nav {
    width: 100%;
    position: absolute;
    z-index: 111111;
}

#scroll-indicator {
    color: black;
    transform: translate(-50%, 0);
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
}

#scroll-line {
    height: 4rem;
    border: 2px solid black;
    width: 0;
}

#text-div {
    font-family: "Inconsolata";
}

#hero-img {
    height: 100%;
    object-fit: cover;
    animation: slide 12s ease-in-out, fade-in 3s;
}

#about-section {
    color: black;
    font-family: var(--font-bebas);
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#about-img-div {
    z-index: 1111111;
    height: 50%;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-img {
    height: 25rem;
    width: 25rem;
}

#img-text-about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 2rem;
}

#who-we {
    width: 100%;
    position: absolute;
    height: 70%;
    color: gray;
    font-size: 32rem;
    white-space: nowrap;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#about-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 15rem;
}

#about-text {
    width: 50%;
    color: black;
}

#hero-section {
    background: linear-gradient(
        180deg,
        rgba(0, 115, 197, 1) 0%,
        rgba(200, 0, 255, 1) 100%
    );
}

#moving-p {
    animation: move 4s ease-out infinite;
    animation-delay: 15s;
    text-align: white;
}

#moving-text {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 6.5rem;
    border: 5.5px solid black;
    font-weight: bold;
    font-size: 5.5rem;
    font-family: "Rock Salt", cursive;
    overflow-x: clip;
}

.card-pic {
    background-color: white;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
}

.card-text-div {
    height: auto;
    opacity: 1;
    display: flex;
}

.shop-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: black;
    flex-direction: column;
    padding: 2rem;
    width: 22%;
    background-color: #818181;
    height: 26rem;
}

#cards-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

#shop-div {
    padding: 6rem 15rem;
}

#copyright-div {
    font-size: x-small;
    width: 100%;
    height: 2rem;
    background-color: #818181;
}

#my-div {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#copyright-inner {
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#pay-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

@keyframes move {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes slide {
    from {
        transform: translateX(100px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    animation: fade-up 1s 1;
}

@keyframes fade-up {
    from {
        transform: translateY(100px);
    }
}
