body {
    font-family:
        Noto Sans,
        Noto Sans CJK JP,
        Noto Sans CJK JP Subset,
        sans-serif;
}

#scroll-indicator {
    color: black;
    transform: translate(-50%, 0);
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    z-index: 50;
}

#text-div {
    font-family: 'Inconsolata';
}

#hero-img {
    height: 100%;
    object-fit: cover;
    animation:
        slide 12s ease-in-out,
        fade-in 3s;
}

#about-section {
    color: black;
    font-family: var(--font-bebas);
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#about-img-div {
    z-index: 1111111;
    height: 50%;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img-text-about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 2rem;
}

.who-we {
    font-family: var(--font-bebas);
    width: 100%;
    position: absolute;
    height: 70%;
    color: silver;
    font-size: 32rem;
    white-space: nowrap;
    opacity: 0.14;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#hero-section {
    background: linear-gradient(
        180deg,
        rgba(0, 115, 197, 1) 0%,
        rgba(200, 0, 255, 1) 100%
    );
}

#moving-p {
    animation: move 4s ease-out infinite;
    animation-delay: 15s;
    text-align: white;
}

#moving-text {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 6.5rem;
    border: 5.5px solid black;
    font-weight: bold;
    font-size: 5.5rem;
    font-family: 'Rock Salt', cursive;
    overflow-x: clip;
}

.shop-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: black;
    flex-direction: column;
    width: calc(20% - 0.8rem);
    height: 16rem;
}

#my-div {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

@keyframes move {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes slide {
    from {
        transform: translateX(100px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    animation: fade-up 1s 1;
}

@keyframes fade-up {
    from {
        transform: translateY(100px);
    }
}
