#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: Noto Sans, Noto Sans CJK JP, Noto Sans CJK JP Subset,
        sans-serif;
}

nav {
    width: 100%;
    position: absolute;
}

#scroll-indicator {
    color: black;
    transform: translate(-50%, 0);
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    border-color: green;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
}

#scroll-line {
    height: 4rem;
    border: 2px solid black;
    width: 0;
}

#text-div {
    z-index: 999;
    height: 100%;
    width: 50%;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}

#logo-div {
    justify-self: flex-start;
    margin-left: auto;
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slide 12s ease-in-out, fade-in 3s;
}

#inner-text-div {
    padding-left: 6rem;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#img-div {
    z-index: 9999999;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#about-header {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    width: 100%;
}

#about-text > p {
    font-size: 2rem;
}

#about-section {
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#about-img-div {
    z-index: 1111111;
    height: 50%;
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-img {
    height: 25rem;
    width: 25rem;
}

#img-text-about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 2rem;
}

#who-we {
    width: 100%;
    position: absolute;
    height: 70%;
    color: gray;
    font-size: 32rem;
    white-space: nowrap;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#about-div {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem 15rem;
}

#about-text {
    width: 50%;
    color: black;
}

#hero-section {
    background: linear-gradient(
        180deg,
        rgba(0, 115, 197, 1) 0%,
        rgba(200, 0, 255, 1) 100%
    );
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}

#first-text {
    color: black;
    font-size: 2.5rem;
    letter-spacing: -0.01rem;
}
#moving-p {
    animation: move 4s ease-out infinite;
    animation-delay: 15s;
    text-align: white;
}

#moving-text {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 6.5rem;
    border: 5.5px solid black;
    font-weight: bold;
    font-size: 5.5rem;
    font-family: "Rock Salt", cursive;
    overflow-x: clip;
}

.nav-icons {
    height: 2rem;
    width: 2rem;
}

#shop-section {
}

.card-pic {
    background-color: white;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
}

.card-text-div {
    height: auto;
    opacity: 1;
    display: flex;
}

.shop-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: black;
    flex-direction: column;
    padding: 2rem;
    width: 22%;
    background-color: #818181;
    height: 26rem;
}

#cards-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

#shop-div {
    padding: 6rem 15rem;
}

footer {
    background-color: darkgray;
    height: 14rem;
    width: 100%;
}

#hero-wrapper {
    padding: 1rem;
}

#footer-div {
    height: 100%;
    width: 100%;
}

#footer-inner {
    background-color: #222222;
}

.footers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 33%;
}

#copyright-div {
    font-size: x-small;
    width: 100%;
    height: 2rem;
    background-color: #818181;
}

#my-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#copyright-inner {
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#footer-socials {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
}

#footer-socials > img {
    width: 2rem;
}

#footer-inner {
    height: 100%;
    padding: 3rem 15rem;
    display: flex;
    flex-direction: row;
}

.footer-divs {
    width: 100%;
    text-align: left;
    font-size: small;
}

.sub-header {
    width: 100%;
    text-align: left;
}

#sub-div {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#pay-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#sub-div > input {
    height: 2rem;
    width: 100%;
}

#sub-div > button {
    padding: 0.5rem;
}

@keyframes move {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes slide {
    from {
        transform: translateX(100px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    animation: fade-up 1s 1;
}

@keyframes fade-up {
    from {
        transform: translateY(100px);
    }
}
