#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: Noto Sans, Noto Sans CJK JP, Noto Sans CJK JP Subset,
        sans-serif;
}

nav {
    /* background-color: #535bf2; */
    /* border: 2px solid black; */
}

#text-div {
    /* border: 2px solid white; */
    height: calc(100% - 6rem);
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 7rem;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    margin-bottom: 4rem;
}

#logo-div {
    justify-self: flex-start;
    margin-right: auto;
}


#hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slide 12s ease-in-out forwards, fade-in 3s;
}

#img-div {
    z-index: -1;
    position: absolute;
    /* border: 2px solid white; */
    height: calc(100%);
    width: 75%;
    bottom: 0;
}

#hero-section {
    height: calc(100vh - 6rem);
    width: 100vw;
    /* background-color: #535bf2; */
    display: flex;
}

#first-text {
    color: black;
    font-size: 2.5rem;
    letter-spacing: -0.01rem;
}

#moving-p {
    position: absolute;
    animation: move 2s ease-out forwards infinite;
    animation-delay: 15s;
}

#moving-text {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 8.5rem;
    border: 5.5px solid black;
    font-weight: bold;
    font-size: 7.5rem;
    font-family: "Rock Salt", cursive;
    padding-left: 2.5rem;
    overflow-x: clip;
}

.nav-icons {
    height: 2rem;
    width: 2rem;
}

@keyframes move {
    from {
        right: -8rem;
    }

    to {
        right: 8rem;
    }
}

@keyframes slide {
    from {
        right: -900px;
    }

    to {
        right: -750px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
