#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: Noto Sans, Noto Sans CJK JP, Noto Sans CJK JP Subset,
        sans-serif;
}

nav {
    position: absolute;
    width: 100%;
}

#scroll-indicator {
    color: black;
    transform: translate(-50%, 0);
    font-weight: bold;
    position: absolute;
    bottom: 2rem;
    left: 50vw;
    border-color: green;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
}

#scroll-line {
    height: 4rem;
    border: 2px solid black;
    width: 0;
}

#text-div {
    height: 100%;
    width: 50%;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}

#logo-div {
    justify-self: flex-start;
    margin-right: auto;
}

#hero-img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slide 12s ease-in-out, fade-in 3s;
}

#inner-text-div {
    padding-left: 6rem;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

#img-div {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#about-header {
    width: 100%;
}

#about-section {
    color: black;
    height: 200vh;
    width: 100vw;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    background-color: white;
}

#about-img-div {
    height: 50%;
    width: 50%;
}

#about-img {
    height: 100%;
    width: 100%;
}

#img-text-about-div {
    display: flex;
    gap: 6rem;
}

#about-div {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 15rem;
}

#about-text {
    width: 50%;
    color: black;
}

#hero-section {
    background: linear-gradient( 180deg, rgba(0, 115, 197, 1) 0%, rgba(200, 0, 255, 1) 100% );;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#first-text {
    color: black;
    font-size: 2.5rem;
    letter-spacing: -0.01rem;
}
#moving-p {
    animation: move 4s ease-out infinite;
    animation-delay: 15s;
    text-align: white;
}

#moving-text {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: 6.5rem;
    border: 5.5px solid black;
    font-weight: bold;
    font-size: 5.5rem;
    font-family: "Rock Salt", cursive;
    overflow-x: clip;
}

.nav-icons {
    height: 2rem;
    width: 2rem;
}

#shop-div {
    padding: 0 15rem;
}

footer {
    height: 20rem;
    width: 100%;
}

#footer-div {
    height: 100%;
    width: 100%;
}

#footer-inner {
}

.footers {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 33%;
}

#copyright-div {
    font-size: x-small;
    width: 100%;
    height: 2rem;
    background-color: darkgray;
}

#copyright-inner {
    padding: 0 15rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

#footer-socials {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: flex-start;
}

#footer-socials > img {
    width: 2rem;
}

#footer-inner {
    height: 100%;
    padding: 3rem 15rem;
    display: flex;
    flex-direction: row;
}

.footer-divs {
    width: 100%;
    text-align: left;
    font-size: small;
}

.sub-header {
    width: 100%;
    text-align: left;
}

#sub-div {
    width: 100%;
    display: flex;
    gap: 1rem;
}                            

#pay-div {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#sub-div > input {
    height: 2rem;
    width: 100%;
}

#sub-div > button {
    padding: 0.5rem;
}

@keyframes move {
    0% {
        transform: translateX(600px);
    }

    100% {
        transform: translateX(50px);
    }
}

@keyframes slide {
    from {
        transform: translateX(100px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-up {
    animation: fade-up 1s 1;
}

@keyframes fade-up {
    from {
        transform: translateY(100px);
    }
}
